<div>
    <h2 data-translate="kukulkanmongoApp.usuario.home.title">usuarios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="usuario.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down" data-translate="kukulkanmongoApp.usuario.home.createLabel">
                        Create new Usuario
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'kukulkanmongoApp.usuario.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="kukulkanmongoApp.usuario.nombre">nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edad"><span data-translate="kukulkanmongoApp.usuario.edad">edad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numeroCredencial"><span data-translate="kukulkanmongoApp.usuario.numeroCredencial">numeroCredencial</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaLocalDate"><span data-translate="kukulkanmongoApp.usuario.fechaLocalDate">fechaLocalDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaZoneDateTime"><span data-translate="kukulkanmongoApp.usuario.fechaZoneDateTime">fechaZoneDateTime</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imagen"><span data-translate="kukulkanmongoApp.usuario.imagen">imagen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="desc"><span data-translate="kukulkanmongoApp.usuario.desc">desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="usuario in vm.usuarios track by usuario.id">
                    <td><a ui-sref="usuario-detail({id:usuario.id})">{{usuario.id}}</a></td>
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.edad}}</td>
					<td>{{usuario.numeroCredencial}}</td>
					<td>{{usuario.fechaLocalDate}}</td>
					<td>{{usuario.fechaZoneDateTime}}</td>
					<td>
						<a ng-if="usuario.imagen" ng-click="vm.openFile(usuario.imagenContentType, usuario.imagen)" data-translate="entity.action.open">open</a>
                        <span ng-if="usuario.imagen">{{usuario.imagenContentType}}, {{vm.byteSize(usuario.imagen)}}</span> 
					</td>     
					<td>{{usuario.desc}}</td>        
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="usuario-detail({id:usuario.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuario.edit({id:usuario.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="usuario.delete({id:usuario.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
