
<div>
    <h2><span data-translate="kukulkanmongoApp.usuario.detail.title">Usuario</span> {{vm.usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="kukulkanmongoApp.usuario.id">id</span></dt>
        <dd>
			<span>{{vm.usuario.id}}</span>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.nombre">nombre</span></dt>
        <dd>
			<span>{{vm.usuario.nombre}}</span>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.edad">edad</span></dt>
        <dd>
			<span>{{vm.usuario.edad}}</span>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.numeroCredencial">numeroCredencial</span></dt>
        <dd>
			<span>{{vm.usuario.numeroCredencial}}</span>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.fechaLocalDate">fechaLocalDate</span></dt>
        <dd>  
			<span>{{vm.usuario.fechaLocalDate | date:'mediumDate'}}</span>
		<dd>        <dt><span data-translate="kukulkanmongoApp.usuario.fechaZoneDateTime">fechaZoneDateTime</span></dt>
        <dd>
			<span>{{vm.usuario.fechaZoneDateTime | date:'medium'}}</span>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.imagen">imagen</span></dt>
        <dd>            
            <div ng-if="vm.usuario.imagen">
                <a ng-click="vm.openFile(vm.usuario.imagenContentType, vm.usuario.imagen)" data-translate="entity.action.open">open</a>
                {{vm.usuario.imagenContentType}}, {{vm.byteSize(vm.usuario.imagen)}}
            </div>
		<dd>
        <dt><span data-translate="kukulkanmongoApp.usuario.desc">desc</span></dt>
        <dd>
			<span>{{vm.usuario.desc}}</span>
		<dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="usuario-detail.edit({id:vm.usuario.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
